data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*
.DS_Store
.vscode/settings.json

# * 

**.md
images/*
01-Intro/*
02-experiment-tracking/
03-orchestration/*
04-deployment/*
05-monitoring/*
06-best-practices/*
07-project/*
generate/*
